.header-content p {
    margin-bottom:0;
}

.editable {
    cursor: pointer;
}

.sobre-logo-prefeitura {
    max-width: initial;
    max-height: 45px;
}

#home-watermark {
    display: none;
}

.search-typology {
    padding: 5px 0px;
    cursor: pointer;
    line-height: 1.4;
    width: 100%;
}

// .search-typology:hover {
//     background: #e3e3e3;
// }

.search-typology-list .typology_familia {
    color: #333333;
    font-size: 10px;
}

.search-typology-list {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
}

/* Find Typology*/
.find-typology .result-container {
    max-height: 200px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}
.find-typology .result-container li:hover {
    background: $gray-light;
    cursor: pointer;
}