// Child theme main

@import "variables";
@import "../../../../BaseV1/assets/css/sass/main";
@import "overrides";

// TODO - Implementar pluralização para poder alterar opportunitys para opportunities

#nav-opportunitys {
  background: #388784; }

#opportunitys-filter:hover,
#opportunitys-filter:focus {
  background-color: #388784; }

#home-opportunitys {
  background: #388784; }
#home-opportunitys .abas li.active {
  border-bottom-color: #388784; }

.registrations-table tbody a, .my-registrations tbody a {
  color: #388784; }

.registration-header {
  background-color: #388784;
  color: #fff;
  padding: 0.75rem;
  border-radius: 2px; }

.bg-opportunity {
  background-color: #388784 !important; }

.color-opportunity {
  color: #388784 !important; }

#filter-opportunitys {
  background: #388784; }

#filter-opportunitys .advanced-filters {
  background: #388784; }

#opportunity-list-header {
  border-left-color: #388784;
  border-right-color: #388784; }

#entities-menu-opportunity.active, #entities-menu-opportunity:hover, #entities-menu-opportunity.current-entity-parent {
  border-top-color: #388784;
  color: #388784; }

#entities-menu-opportunity.active a, #entities-menu-opportunity:hover a, #entities-menu-opportunity.current-entity-parent a {
  color: #388784; }

#entities-menu-opportunity.active:after {
  content: "";
  position: absolute;
  top: -8px;
  border-bottom: 8px solid #388784;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

.sidebar.opportunity, .sidebar.registration {
  border-top-color: #388784; }

.sidebar.opportunity:before, .sidebar.registration:before {
  border-top-color: #388784 !important; }

.sidebar.opportunity .widget-list-item > a, .sidebar.registration .widget-list-item > a {
  color: #388784; }

article.opportunity .header-image, article.registration .header-image {
  background-color: #388784; }

.header-content .opportunity-type, .header-content .registration-type {
  color: #388784; }

.opportunity .objeto:hover h1 a, .opportunity .objeto-meta a {
  color: #388784; }

.tag-opportunity, .tag-opportunity a{
  color: #ffffff !important;
  background-color: #388784;
}

.icon-opportunity:before {
  content: ""; }

.icon-project:before {
  content: ""; }

